body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: rgb(204, 204, 204);
}
p {
  text-align: justify;
}
span {
  font-weight: bold;
}
li {
  list-style-type: lower-latin;
}
.center {
  width: 600px;
  height: 200px;
  line-height: 200px;
  margin: 0px auto;
  text-align: center;
  background-color: #cccccc;
}

.center img {
  vertical-align: middle;
}
